  
  @value constants: '../../../styles/constants.module.css';
  @value sidebarWidth, headerHeight, footerHeight from constants;
  
  .SiderBar {
    width: sidebarWidth;
    height: calc(100% - footerHeight);
    padding-top: headerHeight;
    background-color: #eaeaea;
  }
  .avatar {
    margin: 20px 10px 0 20px;
    cursor: pointer;
  }
  .avatar  notLogin{
    margin-left: 20px;
  }